* {
	font-family: 'Titillium Web', sans-serif;
}

html, body {
	margin: 0;
	height: 100vh;
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	
}

body {
	background-image: url("./images/topography.svg"), 
	linear-gradient(45deg, rgb(12, 236, 197), rgb(89,60,182));
	background-attachment: fixed;
}

nav {
	flex-basis: 5%;
	/* background-color: #593cb6; */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

.navbar-list {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: repeat(auto-fill, 105px);
	/* left: 55%;
	flex-basis: 11%; */
	text-align: right;
	color: rgb(233,233,233)
}

.badge {
	animation: slide-in-blurred-bottom 2.5s .2s both;
	/* flex-basis: 66%; */
	/* padding-left: 10px; */
	font-weight: bold;
	text-align: center;
	/* grid-template-columns: auto; */
	/* position: fixed; */
	grid-column: 1 / 3;
}



.navbar-list-item1 {
	animation: slide-in-blurred-bottom 2.5s .4s both;
	grid-column-end: -3;
}

.navbar-list-item2 {
	animation: slide-in-blurred-bottom 2.5s .6s both;
	grid-column-end: -2;
}

.navbar-list-item3 {
	animation: slide-in-blurred-bottom 2.5s .8s both;
	grid-column-end: -1;
}


.navbar-list:hover,
.navbar-list:active {
	color: gold;
	font-weight: bold;
	font-size: 16pt;
	text-decoration: underline;
}

a {
	text-decoration: inherit;
	color: inherit;
}

main {
	flex-basis: 95%;
	display: flex;
	flex-direction: column;
}

header {
	flex-basis: 20%;
}

.header-box {
	border-radius: 20px;
	background-color: rgb(233,233,233);
	margin-left: 5%;
	margin-right: 5%;
	opacity: .75;
	
}

h1, h3 {
	text-align: center;
}

h1 {
	margin-top: 10px;
	margin-bottom: 0;
	color: #593cb6;
}

h3 {
	font-style: italic;
	margin-top: 0;
	color:black;
}

.coin-data {
	color: black;
	flex-basis: 80%;
	text-align: center;
}

.currencies {
	/* animation: slide-in-blurred-bottom 1.0s 2.5s both; */
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 230px);
	position: relative;
	left: auto;
	right: auto;
	/* top: 20vh; */
	opacity: .75;
	z-index: 1;
	/* grid-template-rows: repeat(4, 25%); */
}

a[ id= "scroll" ]:target ~ #main article.panel {
	-webkit-transform: translateY( 0px);
	transform: translateY( 0px );
}

.grid-cell {
	background-color: rgb(233,233,233);
	margin: 5px;
	border-radius: 20px;
}

.coin-name {
	/* font-weight: 200; */
	color: #593cb6;
}

.grid-cell:hover,
.grid-cell:active {
	/* font-size: 16pt; */
	font-weight: bold;
	color: rgb(233,233,233);
	border-style: solid;
	border-width: 2px;
	border-color: #14d2d6;
	background-image: url("./images/topography.svg"), 
	linear-gradient(225deg, rgb(12, 236, 197), rgb(89,60,182));
	-moz-box-shadow:    3px 3px 5px 6px rgb(33,33,33);
	-webkit-box-shadow: 3px 3px 5px 6px rgb(33,33,33);
	box-shadow:         3px 3px 5px 6px rgb(33,33,33);
}


.coin-symbol {
	font-weight: bold;
}



/* iPhone 5 */
@media screen and (max-width: 321px) {

	.badge {
		grid-column: 2;
		font-size: 16pt;
	}

	.navbar-list {
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
	}
	

	.currencies {
	margin-top: 90px;
	/* top: 40vh; */
	grid-template-columns: 1fr;
	left: 5%;
	right: 5%;
	}
	
}


/* iPhone Plus */
@media screen and (min-width: 322px) and (max-width: 415px) {
	.badge {
		grid-column-start: 1;
		grid-column-end: 3;
		font-size: 16pt;
	}

	.navbar-list {
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
	}

	.currencies {
	margin-top: 90px;
	/* top: 25vh; */
	grid-template-columns: 1fr;
	left: 5%;
	right: 5%;
	}
}

/* iPhone Plus landscape */

@media screen and (orientation: landscape) {
	.currencies {
		grid-column-start: 1;
		grid-column-end: 3;
		top: 35vh;
		grid-template-columns: 1fr 1fr;
	}
}

/* iPad */

@media screen and (min-width: 767px) {
	.badge {
		grid-column-start: 2;
		font-size: 16pt;
	}

	.navbar-list {
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
	}

	.currencies {
	top: 17vh;
	grid-template-columns: 1fr 1fr;
	left: 10%;
	right: 10%;
	}
}

/* Anything bigger than an iPad */
@media screen and (min-width: 770px) {
	.badge {
		grid-column: 1 / span 2;
		font-size: 16pt;
	}

	.navbar-list {
		grid-template-columns: repeat(auto-fill, 105px);
		text-align: center;
	}

	.currencies {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 230px);
	position: absolute;
	left: 10%;
	right: 10%;
	/* top: 15vh; */
	opacity: .75;
	z-index: 1;
	}
}

@-webkit-keyframes slide-in-blurred-bottom {
	0% {
		-webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
				transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
				filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
				transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-filter: blur(0);
				filter: blur(0);
		opacity: 1;
	}
}
	@keyframes slide-in-blurred-bottom {
	0% {
		-webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
				transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
				transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
				filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
				transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
		-webkit-filter: blur(0);
				filter: blur(0);
		opacity: 1;
	}
}