* {
	font-family: 'Titillium Web', sans-serif;
}

html, body {
	margin: 0;
	height: 100vh;
	/*overflow: hidden;*/
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	
}

body {
	background-image: url("./images/topography.svg"), 
	linear-gradient(45deg, rgb(12, 236, 197), rgb(89,60,182));
	background-attachment: fixed;
}

nav {
	flex-basis: 5%;
	/* background-color: #593cb6; */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}

.navbar-list {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: repeat(auto-fill, 150px);
	left: 55%;
	flex-basis: 11%;
	text-align: center;
	color: rgb(233,233,233)
}

.badge {
	flex-basis: 66%;
	padding-left: 10px;
	font-weight: bold;
	position: fixed;
	grid-column-start: 1;
}

.badge:hover,
.badge:active {
	font-size: 30pt;
}

.navbar-list-item1 {
	grid-column-end: -3;
}

.navbar-list-item2 {
	grid-column-end: -2;
}

.navbar-list-item3 {
	grid-column-end: -1;
}


.navbar-list:hover,
.navbar-list:active {
	color: gold;
	font-weight: bold;
	font-size: 16pt;
	text-decoration: underline;
}

a {
	text-decoration: inherit;
	color: inherit;
}

main {
	flex-basis: 95%;
	display: flex;
	flex-direction: column;
}

header {
	flex-basis: 20%;
}

.header-box {
	border-radius: 20px;
	background-color: rgb(233,233,233);
	/* margin-left: 30vw;
	margin-right: 30vw; */
	opacity: .75;
	
}

h1, h3 {
	text-align: center;
}

h1 {
	margin-top: 30px;
	margin-bottom: 0;
	color: #593cb6;
}

h3 {
	font-style: italic;
	margin-top: 0;
	color:black;
}

.coin-data {
	color: black;
	flex-basis: 80%;
	text-align: center;
}

.currencies {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, 200px);
	position: absolute;
	left: 40%;
	right: 5%;
	top: 20vh;
	opacity: .75;
	z-index: 1;
	/* grid-template-rows: repeat(4, 25%); */
}

a[ id= "scroll" ]:target ~ #main article.panel {
	-webkit-transform: translateY( 0px);
	transform: translateY( 0px );
}

.grid-cell {
	background-color: rgb(233,233,233);
	margin: 5px;
	border-radius: 20px;
}

.coin-name {
	/* font-weight: 200; */
	color: #593cb6;
}

.grid-cell:hover,
.grid-cell:active {
	/* font-size: 16pt; */
	font-weight: bold;
	color: rgb(233,233,233);
	border-style: solid;
	border-width: 2px;
	border-color: #14d2d6;
	background-image: url("./images/topography.svg"), 
	linear-gradient(225deg, rgb(12, 236, 197), rgb(89,60,182));
}

.coin-symbol {
	font-weight: bold;
}

@media screen and (max-width: 330px) {
	.currencies {
	top: 50vh;
	
	left: 0%;
	right: 0%;
	}


}

@media screen and (max-width: 380px) {
	.currencies {
	top: 50vh;
	
	left: 0%;
	right: 0%;

	}
}

@media screen and (max-width: 415px) {
	.currencies {
	top: 30vh;
	
	left: 0%;
	right: 0%;
	}
	.header-box {
		border-radius: 20px;
		background-color: rgb(233,233,233);
		margin-left: 0vw;
		margin-right: 0vw;
		opacity: .75;
		
	}
	h1 {
		font-size: 1.618rem;	
	}
	
	h3 {
		font-size: 1rem;

	}
}
